div.cabecera {
    background-color: orangered;
    color: white;
}

div.root {
    background-image: url('./imagenes/gatoplata.jpg');
}

h1.cabecera {
    text-align: center;
    font-style: oblique;
    font-family: cursive;
}

footer {
    background-color: orangered;
    color: white;
    text-align: center;
    font-family: cursive;
    position: absolute;
    bottom: 0;
    width: 99%;
    height: 50px;
}

div{
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

div.botonesDerecha {
    float: right;
    justify-content: space-between;
}

button {
    text-align: center;
    color: orangered;
    background-color: white;
    border-color: orangered;
    border-style: outset;
    border-width: 5px;
    margin: 2.5px;
}

button:focus { 
    outline: none !important;
    border-color: orangered;
    box-shadow: 0 0 10px orangered;
}

input{
    text-align: center;
    color: orangered;
    background-color: white;
    border-color: orangered;
    border-style: outset;
    border-width: 5px;
    margin: 2.5px;
}

input:focus { 
    outline: none !important;
    border-color: orangered;
    box-shadow: 0 0 10px orangered;
 }